/*
Placeholder manifest file.
the installer will append this file to the app vendored assets here: 'vendor/assets/stylesheets/spree/backend/all.css'
*/


.dow-block
{

}

.expand-trigger
{
  flex: 1;
}

.expand-trigger:hover
{
  cursor: pointer;
}

.expand-trigger .icon
{
  margin: 2px;
  font-size: 18px;
  color: green; 
  transition: all 0.2s;
}

.expand-trigger .icon.expand
{
  transform: rotateZ(90deg);
  color: #6B6B6B;
}

.dow-block:hover
{

}

  .dow-block .title
  {
    display: flex;
    padding: 8px;
    background: #EFF5FC;
    font-size: 15px;
    border-radius: 4px;
    margin: 4px 0;
  }

  .dow-block .title .piece
  {
    display: inline;
    width: 25%;
  }

    .dow-block .title .piece.status
    {
      text-align: right;
      display: flex;
      justify-content: center;
    }

    .dow-block .title .dow
    {
      font-size: 16px;
      flex: 1;
      margin-left: 8px;
      font-weight: bold;
      color: #307ACD;
      display: inline;
    }

    .dow-block .title .date-delivery
    {
      font-size: 15px;
      flex: 1;
    }

    .dow-block .title .price
    {
      font-size: 15px;
      flex: 1;
      font-weight: bolder;
      font-size: 16px;
      color: red;
    }

    .dow-block .title .status
    {
      font-size: 15px;
      margin-right: 10px;
    }

    .dow-block .title .status.show
    {
      /*display: none;*/
    }

    .dow-block .title .status.edit
    {
      display: none;
    }

    .dow-block .title .status.edit input
    {
      height: 25px;
    }

    .dow-block .title .button.fa
    {
      display: none;
      border-radius: 50%;
      width: 25px;
      height: 25px;
      padding: 5px;
      text-align: center;
      margin: 0 2px;
      cursor: pointer;
      /*flex: 1;*/
    }

    .dow-block .title .button.save
    {
      background-color: rgb(159, 200, 32);
    }

    .dow-block .title .button.save:hover
    {
      background-color: rgb(83, 109, 2);
    }

    .dow-block .title .button.cancel
    {
      background-color: rgb(214, 56, 18);
    }

    .dow-block .title .button.cancel:hover
    {
      background-color: rgb(146, 40, 14);
    }

  .dow-block .content
  {
    display: none;
  }